* {
    margin: 0;
    padding: 0;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Set minimum height to occupy full viewport height */
    background: url("../../images/WorldMapDark.svg");
    background-size: 100% auto;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    font-family: 'Poppins', sans-serif;
}

.home-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page__heading {
    font-size: 4.5vw; /* Use vw for responsive font size */
    margin-top: 5vw;
    margin-bottom: 2.5vw; /* Use vw for consistent spacing */
    color: #f5f1f1;
}

.home-page__text {
    font-size: 3vw; /* Use vw for responsive font size */
    margin-bottom: 1.5vw; /* Use vw for consistent spacing */
    color: #f5f1f1;
}

.home-page__button {
    margin-bottom: 8vw; /* Use vw for responsive spacing */
    margin-top: 5vw; /* Use vw for responsive spacing */
}

.home-page__link_login{
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 1.75vw 3.5vw; /* Use vw for responsive padding */
    border-radius: 3vw; /* Use vw for responsive border radius */
    font-size: 2.25vw; /* Use vw for responsive font size */
    text-decoration: none;
    transition: background-color 0.6s ease;
}
.home-page__link_register {
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 1.25vw 3vw; /* Use vw for responsive padding */
    border-radius: 3vw; /* Use vw for responsive border radius */
    font-size: 1.90vw; /* Use vw for responsive font size */
    text-decoration: none;
    transition: background-color 0.6s ease;
}

.home-page__link_login:hover,
.home-page__link_register:hover {
    background-color: var(--secondary-color);
}
