

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.home-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page__heading {
    color: var(--text-color);
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.home-page__text {
    color: var(--text-color);
    font-size: 30px;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.home-page__button {
    margin-bottom: 70px;
    margin-top: 50px;
}

.home-page__link {
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.home-page__link:hover {
    background-color: var(--secondary-color);
}
