* {
    margin: 0;
    padding: 0;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../../images/WorldMapDark.svg");
    background-size: 100% auto;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.home-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-page__heading {
    font-size: 4.5vw;
    margin-top: 10vw;
    margin-bottom: 2.25vw;
    color: #f5f1f1;
}

.home-page__button1 {
    margin-bottom: 8vw;
    margin-top: 4.2vw;
}

.home-page__text {
    font-size: 2vw;
    margin-bottom: 1.5vw;
    color: #f5f1f1;
}

.home-page__button2 {
    margin-bottom: 1vw;
    margin-top: 1.5vw;
}


.home-page__link_login{
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 1.75vw 3.5vw;
    border-radius: 3vw;
    font-size: 2.25vw;
    text-decoration: none;
    transition: background-color 0.6s ease;
}
.home-page__link_register {
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 1vw 2vw;
    border-radius: 3vw;
    font-size: 1.30vw;
    text-decoration: none;
    transition: background-color 0.6s ease;
}

.home-page__link_login:hover,
.home-page__link_register:hover {
    background-color: var(--secondary-color);
}

@media (max-width: 768px) {
    .home-page__heading {
        font-size: 6vw;
    }

    .home-page__text {
        font-size: 3.5vw;
    }

    .home-page__link_login {
        font-size: 3vw;
    }

    .home-page__link_register {
        font-size: 2.25vw;
    }
}

.already-logged-in-text{
    margin-top: 8vw;
    font-size: 2vw;
    margin-bottom: 1.5vw;
    color: #f5f1f1;
}

.already-logged-in-button{
    margin-top: 1vw;
    color: var(--text-color);
    background-color: #DD5566FF;
    padding: 1vw 2vw;
    border-radius: 3vw;
    font-size: 1.30vw;
    text-decoration: none;
    transition: background-color 0.6s ease;
}

.already-logged-in-button:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}