* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #f5f1f1;
}

body, html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;

}

.main-Div_1 {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    background-size: 100% auto;
    background-color: var(--background-color);
    align:center;
}

.feed_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 10px 20%;
    background-color: #fff;
    align:center;
}

.feed-header_1{
    margin-top: 90px;
    margin-bottom: 0;
    color: #914040;
}

#city-header{
    margin-bottom: 20px;
    color: #914040;
}

.add-post-textarea {
    width: 96%;
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #D0BEBD;
    resize: none;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.add-post-textarea ::placeholder{
    color: #9D8B8A;
}

.add-post-file-input {
    margin-bottom: 10px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    width: 10%;
    height: 10%;
}

.add-post-button {
    background-color: rgba(221, 85, 102, 1);
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    float:right;
    font-size: 16px;
    margin-top: 16px;
}

.add-post-button:hover {
    background-color: rgb(168, 49, 64);
}

.add-post-div{
    background-color: #F9F7F7;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 75px;
    margin-top:5vh;

    height: 85%;
    width: 67%;
}

.file-input-label {
    display: inline-block;
    padding: 7px 3px;
    background-color: #ffffff;
    color: #9D8B8A;
    border: 1px solid #D0BEBD;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top:5px;
}

.file-input-label:hover {
    background-color: #faf0f0;
}

.input-label-text_1{
    color: #9D8B8A;
}