* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: auto;
}

.mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 0 20px;
}

.feed {
    max-width: 60vh;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    color: var(--text-color);
    margin: 20vh auto;
    overflow-y: auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}
