
:root {
    --primary-color: rgba(221, 85, 102, 1);
    --secondary-color: rgb(168, 49, 64);
    --text-color: rgba(255, 255, 255, 1);
}

.topnav {
    background-color: var(--primary-color);
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    max-height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.topnav a {
    float: left;
    color: var(--text-color);
    text-align: center;
    padding: 2px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 750;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
    border-radius: 16px;


}

.topnav a:hover {
    background-color: var(--secondary-color);
}

.topnav a.active {
    background-color: var(--secondary-color);
}


.topnav a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--text-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.topnav a:hover::after {
    transform: scaleX(1);
}

.topnav img{
    width: 39px;
    height: 39px;
    margin-right: 10px;
    float: left;

}

#logoutButton{


}

