/* styles.css */

/* Define a unique color palette */
:root {
    --primary-color: rgba(221, 85, 102, 0.9); /* Adjusted primary color */
    --secondary-color: #252525; /* Adjusted secondary color */
    --text-color: rgba(250, 246, 247, 0.9); /* Adjusted text color */
}

.topnav {
    background-color: var(--primary-color);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 12px; /* Reduce padding to make the navigation bar smaller */
}

.topnav a {
    float: left;
    color: var(--text-color);
    text-align: center;
    padding: 8px 16px; /* Reduce padding to match the smaller navigation bar */
    text-decoration: none;
    font-size: 17px;
    font-weight: 750; /* Add a little bit of boldness */
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif; /* Use 'Poppins' font or any other modern font */
}

.topnav a:hover {
    background-color: var(--secondary-color);
}

.topnav a.active {
    background-color: var(--secondary-color);
}

/* Optional: Add unique hover animation */
.topnav a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: var(--text-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.topnav a:hover::after {
    transform: scaleX(1);
}


